{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block content %}
    <h1>Welcome to the blog page</h1>
    <div id="root">
        <script src="'js/app.js'></script>
    </div>
{% endblock %}
