{% extends 'base.html.twig' %}

{% block title %}Recipes{% endblock %}

{% block content %}
    <h1>Welcome to the recipes page</h1>
    <div id="root">
        <script src="{{ asset('js/app.js') }}"></script>
    </div>
{% endblock %}